{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box; 
}
a{
    text-direction: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #b1d8b7;
}

/*--blog----------------------------------------------------*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #107869;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #08313A;
    font-weight: 600;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width:350px;
    background-color: #1A5653;
    border: 3px solid #E2DFD2;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #5CD85A;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #E2DFD2;
}
.blog-text .blog-title:hover{
    color: #08313A;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #5CD85A;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #2F5233;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}